 body {

  font-family: Arial, sans-serif;

  background-color: black;

  color: white;

  text-align: center;

  background-image: url("C:\Users\user\Downloads\practical.jpg"); /* Replace with your actual image file name or URL */ 

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}



header {

  background-color: #a8dadc; /* pastel color (light aqua) */

  color: black;

  padding: 20px;

  border-radius: 10px;

}



footer {

  background-color: black;

  color: white;

  padding: 10px;

  margin-top: 40px;

}
